<nav class="grey darken-3">
  <div class="container">
    <div class="nav-wrapper">
      <a href="/stories" class="brand-logo
       center">LOCATE iT!</a>

 

<!-- Side menu button  -->
      <ng-sidebar-container style="height: 100vh">
        <ng-sidebar [(opened)]="_opened" mode="push">
          <ul id='lst' class='lst'>
            <li> <a class="closebtn" style="text-align:right" (click)="_toggleSidebar()">&times;</a></li><br>
            <span *ngIf="!show">
              <li><a (click)="login()">
                  <i class="fa fa-google left"></i>
                  Login with google</a></li>
            </span><br>
            <li><a href='/posts'><i class="fa fa-book">
                </i>Public Posts </a></li>
                <span *ngIf="show">
            <li><a href='/dashbord'><i class="fa fa-cog">
                </i>Dashbord </a></li>
            <li><a href='/posts/my'><i class="fa fa-user">
                </i>My Posts </a></li>
            <li><a (click)='logout()'><i class="fa fa-sign-out">
                </i>LogOut </a></li>
              </span>
          </ul>
          <!-- <a>none</a> -->
        </ng-sidebar>
<!-- <a>kapil</a> -->
        <div ng-sidebar-content>
          <a class="button-collapse show-on-large" data-activates="main-menu" href="#" (click)="_toggleSidebar()">
            <i class="fa fa-bars"></i>
          </a>
          <!-- RIGHT NAV -->
  <ul class="right hide-on-small-only">
    <!-- {{#if user}} -->
   <span *ngIf="show">
      <li><a >Welcome {{username}}</a></li>
      <li><a (click)='logout()'>
          <i class="fa fa-sign-out"></i>
          LogOut</a></li>
   </span>
    <!-- {{else}} -->
    <span *ngIf="!show">
      <li><a href="/posts"><i class="fa fa-book"></i>
          Public Posts</a></li>
    </span>
  </ul>
        </div>
        <!-- <a>karan</a> -->
      </ng-sidebar-container>



    
    </div>
  </div>

</nav>