<footer if="footer" class="page-footer grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">LOCATEiT!</h5>
        <p class="grey-text text-lighten-4">Share your lost item </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" routerLink="/posts">Public Posts</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/about">About</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/logout">Logout</a></li>
          </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2018 LOCATEiT!
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>