div { box-sizing: border-box; }

.container {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;  
  height: 500px;
  /*border: 1px solid #000000;*/
 
}

.circle {
    background-color: #00ff00;
    width: 200px;
    height: 200px;
    border-radius: 1000px; 
    margin: 0.5em;
}

.circle.anmol {
  background-image: url('https://lh3.googleusercontent.com/GJkcDpjhodhoNXH4eaZqnkBz4WhD2onvXjUy5XH0OgY0wKrI-2rpm0xxjYwqfrJa_SVQBHE6Pb4peE6EcmWPKHQujfxU-QVu7ZBXusUeAfzw2FsYh17LJvnjNOPCEG2xCdBukXh5-9pGIVTgYXe5S2nzWTdz4ax-QMYKWw5Gz1CvEXgcLjfgvxq5y7NNe21jPTRQ8aARhPGSJl9yziiFvOlsRe-eT8oYu066I44cD16STR9uGtb3AbTfmrB6E_a5ZmYiPK_Ow2IyuiLaDJEBeEUEHwo9K2Oi3hZQvP7A0MOsisYP5WOHhZSOyVJasSDr2yPukxGgxwJZjJuZL0A_xdzn_U800U4MqIr3NCGeV6efRGZzIoHIMf5AKlvaBJEfh-bmPzTFqx83Do8N0CcO3HzX303ADSV9FZskBkSuyOAKKZ3ouKtokPKwp3SiNMhNpiIROhKMdyXlcBchcDW-HBWJG8SxsromZSSp9kkHEaapWx23f6Wp551I4PdvdJq9p49Y743gtZhKteNxThizFMUVpflXhfWRitIYdxV8FN5OpwIIrPIsoaOiR2PrnuO7O1Xeh3TQiB78LV8hPlT22JpmFjnbUuFITzzRF8YVKL7yLGJr2i5sAQ-qW-CLhuq7uvmSjMUY9UVO-39kjbxs6oQSMeyYFXktWgmgadtsA2zsMLgfyXQGVMjy0EZ2By82R0xql9fzau-wNc1sNA=s250-k-rw-no');
  background-size: cover;
  background-repeat: none;
  background-position: center center;
  color: white;
}
.circle.chetan {
    background-image: url('https://lh3.googleusercontent.com/5u9kVvqlAkSSunguKI5jkjSRUmotmm5QlavMQSe35WiK4xN97DbVz_Qdf_yCkGX3QPljcCvYhAZ4Fxw6ewUwD_--dPJphy5EQI5rWjjMOTEx-qLcwAOaDgvn2AmRyt86GfN0hX5bLmSmoZXERIESTX-2wpik_WLEd6mWIlz9KkrLxozDrVEGE4qPfIM270QrpcYppO7TdhbmhlcJjKm6YeZPsF8hPiUqDt9mxbdUSdM_gavOg-1nCOTyJJGxVtudsXlbSkAA7kGXBKBlBysFbv7j8xlM1tEMdIvPLFAGpvGPBntOxuRwr3xn8CisnM6waQyOlKgOXbbVj3iLP9puDsFUKks8aoldWF2iZSh0hP0vXSQj8fIT_cyloqgetA8IzKFTLGteL5RjUVj4gW2Yj-7hwSUpsVKuMfI52wLXeSUILS_L3mpLnw8Xs883ET6b4AORcK5bjSHDT40EXbStjq3yHdqeGicELW9wsKqi0idMZbREFYSQ5z3VLc3_rD0miPEquaWTqnbsL86P0laPbCXlNy56su-gjTLJkdxhqonrjmJrn6hM4N3T9mmDQMyxk2oxXu6zMhm8_M7nOQAkQHmK90LlWwbub4ioNKeoSJhAF-92NAz6CEY_pJK2-OU4E0gtPWGPQLWzdn3jFz68cxklURFalZTm4ARh5-6EVzSGlbZWmYUZWKFAEG_3nKSfQNWErsyzIpfo6Mk4jHk=w789-h526-no');
    background-size: cover;
    background-repeat: none;
    background-position: center center;
    color: white;
  }

  .circle.kapil {
    background-image: url('https://lh3.googleusercontent.com/1YvIjW1zpPyxOQ5M3HSEPettocQ5H1jnFTfX-7oZ8IFcDifALugOqeHE7ovugmd5ZYZZfCnh0ViRGuuIpIu5uEL9mJRpuq412fnNpzztKqNbhss7A2MR_lzeKGp8cp6MV3QAr5rMYpKNC6taLi0JkT9m1SZ3AkSV5UAkysFrt1AaoL6HvFuKKeKkoMNm8zfMC5zeNhOKUNoQjDNLS3Et_hm69Dz_H2I4_4eTs_gRY88L7WSEC_erYeRDxptbahmsxsJbHLqdKiXoj0xSfi26a-vkbkuGYkZEzkr0YW79iGyDEVQm5ssl89KcfNZkl7b3qhR9StMa1LhUO3kyayxU7ckr_zinkVk5CdpknMmJ_rI8TXxyqjDcHxE3VzA5zJljxyL2SebpNua7adbIEk2fr1gpDifut6KzpbuZWkBDfy1Gy-Ue6F1x_RuJo92b-0DH5DPIXTbmkymym_6qgBOxXv6BUBo4o08Zu6zJyz7WZc3G-0HxNI4SwwYw7G1jclF11kTqI3yh6SAbUKOjgTFUs6SyX3iPi1rkcHMs-8VSQlI6AQmJ72yEIuscO0KoYyCgOOdEcq1QFxVqQ4b0d9fqi2QY6O2A109j4qmUIENXRlaMktQNICuWjCZXYM2LDhFrQy5PSZI3fV9zsGwhYA7W_xSH=s657-no');
    background-size: cover;
    background-repeat: none;
    background-position: center center;
    color: white;
  }
  

.circle:hover {
  background-color: #008000;
  border-style: dotted;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}
.Box{
    /* border: 1px solid #000000; */
    text-align: center;
    font-family:sans-serif;
}
