<app-header></app-header>
<!-- <h1>welcome</h1>
<p>this is lost and found portal</p>  -->
<!-- {{if user}} -->

<!-- {{else }} -->
<div class="maaiinn">
  <div class='bdy'>
    <span *ngIf="!show">
      <a class="btn red darken-1" (click)="googleSignIn()">
        <i class="fa fa-google left">
          Login with google</i></a>

    </span>
    <br>
    <br>
    <h4 align="center">Team LOCATEiT!</h4>
    <div class="container">
      
      <br>
      <div class="Box">
        <div class="circle kapil">
          <div class="aligner">

          </div>
        </div>
        <i>
          <h5>KAPIL PANDEY</h5>
        </i>
        <b>
          <h6>FOUNDER</h6>
        </b>
        <h6>B.Tech CSE</h6>

      </div>
      <div class="Box">
          <div class="circle anmol">
            <div class="aligner">
  
            </div>
          </div>
          <i>
            <h5>ANMOL JOSHI</h5>
          </i>
          <b>
            <h6>CO-FOUNDER</h6>
          </b>
          <h6>B.Tech CSE</h6>
  
        </div>
      <div class="Box">
        <div class="circle chetan">
          <div class="aligner">

          </div>
        </div>
        <i>
          <h5>CHETAN UPRETI</h5>
        </i>
        <b>
          <h6>CO-FOUNDER</h6>
        </b>
        <h6>B.Tech CSE</h6>

      </div>
     
  </div>
<!-- 
<app-footer></app-footer> -->